@import 'tailwindcss';

@theme {
  --font-sans: 'Raleway', 'sans-serif';
  --color-primary: #5AAAF1;
  --color-secondary: #FFAA6B;
  /*Title*/
  --text-title: 88px;
  --text-title--line-height: 100%;
  --text-title--font-weight: 500;
  /*Body*/
  --text-body: 18px;
  --text-body--line-height: 31px;
  --text-body--font-weight: 400;
  /*Body2*/
  --text-body2: 20px;
  --text-body2--line-height: 31px;
  --text-body2--font-weight: 400;
  /*Body3*/
  --text-body3: 20px;
  --text-body3--line-height: 31px;
  --text-body3--font-weight: 600;
  /*H1*/
  --text-h1: 54px;
  --text-h1--line-height: 73px;
  --text-h1--font-weight: 500;
  /*H2*/
  --text-h2: 32px;
  --text-h2--line-height: 48px;
  --text-h2--font-weight: 700;
  /*H3*/
  --text-h3: 20px;
  --text-h3--line-height: 31px;
  --text-h3--font-weight: 700;
  /*Label*/
  --text-label: 14px;
  --text-label--line-height: 21px;
  --text-label--font-weight: 400;
  /*Button*/
  --text-button: 18px;
  --text-button--line-height: 31px;
  --text-button--font-weight: 700;
  /*Background Size Full*/
  --bg-size-full: 100% 100%;
}

@layer theme {
  .vue3-snackbar-message {
    border-radius: 16px !important;
  }
}

@layer components {
  .button {
    border-radius: 16px;
    background-color: #FFAA6B;
    padding: 16px 32px;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
  }

  .button .animate {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .button:hover {
    transform: scale(1.05);
  }

  .button:hover .animate {
    transform: translate(0, 4px);
  }

  .button.button-circle {
    border-radius: 100%;
    background-color: #FFAA6B;
    padding: 10px;
  }

  .tooltip {
    border-radius: 100%;
    background-color: white;
    border: 1px solid #FFAA6B;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .tooltip .tooltip-circle {
    border-radius: 100%;
    background-color: #FFAA6B;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .tooltip:hover .tooltip-circle {
    transform: scale(1.50);
  }

  .section {
    width: 100%;
    min-height: 100vh;
    padding: 0px 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@utility container {
  max-width: 1144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}